fastapi
uvicorn
python-multipart
pyjwt
supabase
pdfplumber
sentence-transformers
chromadb
langchain-chroma
langchain-huggingface
langchain-community
langchain-core
langchain
openai
huggingface_hub
requests
python-dotenv
httpx
cryptography
colorama
datasets
postgrest